{% extends 'base.html.twig' %}

{% block title %}Property index{% endblock %}

{% block body %}
<div class="jumbotron">
 <div class="container">
   {{ form_start(form)  }}
         <div class="form-row">
    
      <div class="col">
         {{ form_row(form.maxPrice)  }} 
      </div>
       <div class="col">
          {{ form_row(form.minSurface)  }}
      </div>
         <div class="col">
         <button type="submit" class="btn btn-primary">search</button>
       
      </div>            
 </div>
        
      {{ form_end(form)  }}

 </div>
 </div>
<div class="container">

 <div class="row">
   {% for property in  properties %}
  
              <div class="col-md-3">
                 <h5>{{ property.rooms}} piéce {{ property.surface }} m²</h5>
                 <div class="text-primary" > {{ property.price }} Euro </div>
                  <p> <a class="btn btn-success"   href="{{ path('property_show',{'id':property.id} ) }}">Voir</a> </p>
                 <a class="btn btn-primary" href="#" role="button"> Contacter l'agence</a>
            </div>  
   
   {% endfor %}  

   </div>  <br>
      <div class="navigation">
            {{ knp_pagination_render(properties) }}
        </div>
  </div>

 <div class="container">

    <div class="row">
        <div class="col-md-8">
        </div>

    </div>
   
    <a href="{{ path('property_index') }}">back to list</a>


 </div>

    <a href="{{ path('property_new') }}">Create new</a>
{% endblock %}
